.about-content > h2 {
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.9rem;
}
.about-content > p {
  margin: 1.4rem 0;
}
.about-content {
  border: 1px solid red;
}
.btn-3 {
  outline: none;
  border: 1px solid black;
  padding: 10px 30px;
  border-radius: 40px;
  text-transform: capitalize;
}
